{
  "presets": [
    [
      "@babel/preset-env",
      {
        "loose": true,
        "modules": false // Do not transform modules to CJS
      }
    ],
    "@babel/react"
  ],
  "plugins": [
    "@babel/plugin-proposal-optional-chaining",
    // ["@babel/transform-runtime", { "useESModules": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ]
}
